html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

* {
  animation: fade-in .75s;
}

a {
  transition: .3s all;
}

a:hover {
  text-decoration: none;
}

.logo {
  cursor: pointer;
}

.catalog-hero {
  background-image: linear-gradient(#2c1e1340, #6d512740), url('./images/hero-beans.jpg');
  background-position: center;
  background-size: cover;
  min-height: 60vh;
}

.content-div {
  min-height: 77.5vh;
  background: #fff;
}

.item-card {
  transition: .3s all;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.item-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem .75rem rgba(0, 0, 0, .075);
}

.object-fit-card {
  object-fit: contain;
  height: 250px;
}

.object-fit-details {
  object-fit: contain;
  height: 400px;
}

.pointer {
  cursor: pointer;
}

img {
  width: 100%;
  object-fit: contain;
}

.product-column {
  top: 72px;
  z-index: 1019;
}

textarea {
  resize: none;
}

.overlay {
  background: #00000040;
  top: 0;
  left: 0;
  z-index: 1100;
}

.modal-message {
  max-width: 450px;
  margin: auto;
}

.cancel-button {
  font-size: 2rem;
  transition: .3s all;
  color: #ccc;
  cursor: pointer;
  right: 1rem;
}

.cancel-button:hover {
  color: #000;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
